<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-5 card-container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/imgs/ht-07.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="600"
        height="400"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Preserving diverse Haitian city dishes. Join our culinary journey.
      </h1>
      <p class="lead">
        Savor Haiti's vibrant city flavors and immerse yourself in a captivating
        culinary journey that will awaken your senses. Join us as we explore the
        rich tapestry of Haitian cuisine.
        <br />
        <strong
          ><em><span>admin@gmail.com | Password:12345678</span></em></strong
        >
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
          Signup for BreakZone
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
